<mat-card>
  <mat-card-title>Deleção de Operação</mat-card-title>
  <form>
      <mat-form-field><input matInput [(ngModel)]="operation.codigo" placeholder="Código" name="codigo" disabled></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="operation.quantidade" placeholder="Quantidade" name="quantidade" disabled></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="operation.valor_unitario" placeholder="Valor Unitário" name="valor_unitario" disabled></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="operation.tipo_operacao" placeholder="Tipo da Operação" name="tipo_operacao" disabled></mat-form-field>
      <mat-form-field><input matInput [(ngModel)]="operation.corretagem" placeholder="Corretagem" name="corretagem" disabled></mat-form-field>
  </form>
  <button mat-raised-button (click)="deleteOperation()" color="primary">
      Deletar
  </button>

  <button mat-raised-button (click)="cancel()">
      Cancelar
  </button>
</mat-card>
